
<div class="columns is-vcentered mx-4 mt-6 is-desktop">

  <div class="column is-vcentered is-one-third ml-6">
    <a href="https://www.facebook.com/innoserv" target="_blank" rel="noreferrer noopener" aria-label="Facebook">
      <i class="fab fa-facebook fa-3x mx-3"></i>
    </a>
    <a href="https://twitter.com/INNOSERVproject" target="_blank" rel="noreferrer noopener" aria-label="Twitter">
      <i class="fab fa-twitter fa-3x mx-3"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCX-SE-AvqteYfgv1cNA0o2w" target="_blank" rel="noreferrer noopener" aria-label="Youtube">
      <i class="fab fa-youtube fa-3x mx-3"></i>
    </a>
  </div>

  <div class="column">
  </div>

  <div class="column is-one-fifth mr-6">
    <%= image_tag 'logo_ec.png', width: '100%', height: '150%', alt: 'Logo European Commission European research Area / Seventh Framework Programme, funded under Socio-economic Sciences & Humanities', loading: 'lazy' %>
  </div>
</div>

<section class="hero is-small is-background-color-primary mx-6 mb-6">
  <br>
  <br>
</section>