<div class="is-background-color-secondary">
  <div style="height:80px;">
  </div>
  <div class="container content is-large is-fluid has-text-justified">
    <h1 class="title is-1 has-text-centered is-color-primary my-6">
      About INNOSERV
    </h1>
    <p class="subtitle is-4 mt-3" style="font-weight: 600;">
      INNOSERV is a project developing an EU wide research agenda to evaluate innovation in the field of social
      services (especially for health, education and welfare services). 
      This will help define future research activities.
    </p>
    <p class="is-size-5">
      INNOSERV responds to the FP7-Cooperation call FP7-SSH-2011-3 for a ‘support action concerning a social platform on innovative social services.’
      Answering the objectives of the call, the INNOSERV project will:
    </p>
    <ul class="is-size-5">
      <li>Produce short visual examples combined with theoretical case studies of ‘innovative’ practices in the fields of health, education and welfare. These will be used to help inform discussion and debate;</li>
      <li>Develop a web based ‘social platform’ for continuing dialogue;</li>
      <li>Manage a multi-level discussion involving a wide range of stakeholders from research, policy making and practice communities in the EU to identify priorities for future research and development.</li>
    </ul>

    <h2 class="title is-3 mt-6 is-color-primary">
      Project Consortium
    </h2>
      <div class="has-text-size-5">
        <strong>Heidelberg University</strong>
        <p class="is-size-5 is-inline">- Germany <br>The Institute for the Study of Diaconia/Christian Social Service (DWI) and the Centre for Social Investment (CSI)</p>
        <br><br>
        <strong>University of Applied Sciences</strong>
        <p class="is-size-5 is-inline">- Germany <br>Hamburg University of Applied Sciences</p>
        <br><br>
        <strong>Roskilde University</strong>
        <p class="is-size-5 is-inline">- Denmark <br>Department of Society and Globalisation</p>
        <br><br>
        <strong>Diakonhjemmet University College</strong>
        <p class="is-size-5 is-inline">- Norway<br>A diaconal, Norwegian private Lutheran educational institution</p>
        <br><br>
        <strong>Budapest Institute</strong>
        <p class="is-size-5 is-inline">- Hungary<br>An independent think tank</p>
        <br><br>
        <strong>IRS - Istituto per la Ricerca Sociale</strong>
        <p class="is-size-5 is-inline">- Italy<br>IRS - Istituto per la Ricerca Sociale, Area Politiche della Formazione e del Lavoro, Bologna</p>
        <br><br>
        <strong>University of Southampton</strong>
        <p class="is-size-5 is-inline">- United Kingdom<br>The University of Southampton’s Faculty of Health Sciences</p>
        <br><br>
        <strong>IAE de Paris</strong>
        <p class="is-size-5 is-inline">- France<br>Sorbonne Graduate Business School</p>
        <br><br>
        <strong>EASPD</strong>
        <p class="is-size-5 is-inline">- Belgium<br>The European Association of Service providers for Persons with Disabilities</p>
        <br><br>
        <strong>Solidar</strong>
        <p class="is-size-5 is-inline">- Belgium<br>A European network of NGOs working to advance social justice in Europe and worldwide</p>
        <br><br>
        <strong>ENIL</strong>
        <p class="is-size-5 is-inline">- Ireland<br>The European Network on Independent Living (ENIL) is a European wide network of disabled people</p>
      </div>
    <h2 class="title is-3 mt-6 is-color-primary">
      Description
    </h2>
    <p class="is-size-5">
      INNOSERV is an integrated project funded by the 7th Framework Programme of the European Commission which deals with innovation in the field of social services.
      <br><br>
      The project aims to establish a platform bringing together researchers, practitioners and policy-makers working on the planning and conduct of social services.
      <br><br>
      Eleven organisations from nine European countries, both research institutes and membership-based organisations, are involved in the two year project.
      <br><br>
      <em><strong>
        “With the new social platform we hope to assess the latest trends in research and practice, identify knowledge gaps and stimulate research inquiry,”
      </em></strong>
      says Prof. Dr. Johannes Eurich of Heidelberg University who is coordinator of the project.
      <br><br>
      <em><strong>    
        “The idea is for service providers, political decision-makers, associations, researchers and service users to use the platform, once it has been established, to discuss which service offerings in Europe are innovative and what future scenarios should be envisaged in the health, welfare and extracurricular education sectors.”
      </em></strong>
      <br><br>    
      For Prof. Eurich, one important function of the INNOSERV project is the use of low-threshold communication devices like short films or podcasts. 
      <em><strong>
        “These are designed to overcome communication barriers between individual research disciplines and practical application by addressing a broadly defined target group.”
      </em></strong>
    </p>

    <h2 class="title is-3 mt-6 is-color-primary">
      Project Outputs
    </h2>

    <ul class="is-size-5">
      <li>Literature review on Health, Education and Welfare Sectors</li>
      <li>Report on literature-based criteria for innovation</li>
      <li>EU-wide compared selection of innovative practices collected at local level and clustering of examples</li>
      <li>Language-based regional cooperation with innovation practice organisations</li>
      <li>Production of «visual discussion materials» on innovative practice examples (short films)</li>
      <li>Production of theoretically informed case studies from film material</li>
      <li>Feedback from stakeholder groups EU-wide</li>
      <li>Cross national workshops on Innovative Service Delivery</li>
      <li>Preparation of a research agenda</li>
    </ul>

    <h2 class="title is-3 mt-6 is-color-primary">
      Download
    </h2>
    <ul class="is-size-5">
      <li style="text-decoration: underline;">
        <%= link_to "Project's FLYER 2013", "/Innoserv-Flyer_7Feb13.pdf", class:"is-underlined" %>
      </li>
      <li style="text-decoration: underline;">
        <%= link_to 'Final Report Summary', "https://cordis.europa.eu/project/id/290542/reporting", 'aria-label': 'cordis.europa.eu' %>
      </li>
    </ul>
    <h2 class="title is-3 mt-6 is-color-primary">
      Contact
    </h2>
    <p class="is-size-5 mb-6">
      If you are interested in details or if you have information about innovative service approaches, you are welcome to contact Prof. Dr. Johannes Eurich at <%= mail_to 'johannes.eurich@dwi.uni-heidelberg.de' %>. The reports and results of the project will be accessible under open access to any interested person/organization.
    </p>
  </div>
  <div style="height:1px;">
  </div>
</div>

