<div class="container">
  <h1 class="title is-1 is-color-primary my-6">
    European FP7-Research Project “Social Platform on Innovative Social Services”
  </h1>
  <h2 class="subtitle is-3 is-color-primary mb-6">
    SHORT PROJECT DESCRIPTION
  </h2>
  <h3 class="title is-3">
    Project title
  </h3>
  <p class="subtitle is-6">
    “Social Platform on Innovative Social Services”
  </p>
  <h3 class="title is-3">
    Objectives
  </h3>

  <p class="is-size-6 mb-6">
    <strong>Overall Objectives:</strong> The project shall explore the key factors for innovation in social services and develop future scenarios of social services in Europe. To find out about innovations in academic research and on the practical level is the crucial function of the “Social Platform for Innovative Social Services (InnoServ)”.
    <br>
    <strong>Specific Objectives:</strong> The specific objective is to establish a social platform that brings together key representatives of the research, practice and policy communities in the field of social service planning and delivery. Its objective is to assess mutually recent trends in science, practice and policy, to identify knowledge gaps and to propose research questions and agendas to address them. An important feature of the InnoServ-project is the use of innovative, low-threshold communication means, such as films/podcasts/visual sociology to overcome the communication gaps between research disciplines and practical work and to reach out to a wide audience of scholars, practitioners, policy makers and service users.
  </p>

  <h3 class="title is-3">
    Project Coordinator
  </h3>
  <p class="subtitle is-6">
    Prof. Dr. Johannes Eurich
    <br>
    Diakoniewissenschaftliches Institut (DWI) of Heidelberg University
  </p>

  <h3 class="title is-3">
    Duration
  </h3>
  <p class="is-size-6 mb-6">
    <strong>24 months</strong> (starting date: February 1st 2012)
  </p>

  <h3 class="title is-3">
    Financial Volume
  </h3>
  <p class="is-size-6 mb-6">
    About 1,5 Mio. Euro
  </p>

  <h3 class="title is-3">
    Stakeholder Group
  </h3>
  <p class="is-size-6 mb-6">
    Service agencies, policy makers, associations, researchers, user organizations etc. are invited to join the platform once it is established. The discussion of what is innovative in social services in Europe and what kind of future scenarios for social services in the fields of health, education, and welfare are to be envisaged, are two key questions of the project.
  </p>

  <h3 class="title is-3">
    Main activities and contents
  </h3>

  <p class="is-size-6 mb-6">
    <strong>The InnoServ-platform will be organized around four aspects</strong>
  </p>
  <ul class="mb-6">
    <li>investigating, identifying, evaluating and reflecting upon innovative practice in the provision of social services across Europe,</li>
    <li>identifying and systematizing the theoretical discussion on innovation in service planning and delivery,</li>
    <li>linking up the empirical evidence and theoretical discourse to identify gaps, inconsistencies and demand for further research,</li>
    <li>assessing the issues identified and proposing research agendas for various aspects of service planning, provision and evaluation.</li>
  </ul>

  <p class="is-size-6 mb-6">
    <strong>The approach of the InnoServ-platform</strong>
  </p>

  <ul class="mb-6">
    <li>Diagnosis of the current trends and directions from literature research about social services in the fields of health, education, and welfare and the analysis of policy documents concerning social services in Europe. This will help to identify innovative social services that have been developed across the boundaries of these sectors.</li>
    <li>The study and communication of innovative practice is managed through case studies which combine theoretical insights of the literature research with practical aspects of innovative service ideas already put into practice. The case studies shall be used to initiate discussions among and with stakeholders about innovative services in many different contexts in Europe. Each case will display at least one innovative service aspect or principle or a combination of several aspects. The cases will be disseminated using new information technologies.</li>
    <li>Using methodological tools to facilitate and guide the discussion, the reflection with diverse stakeholder groups will identify key issues, gaps, demands, and give indications for further research. A wide range of varying stakeholders (professionals, users, policy makers) at different levels (local, regional, national, European) will discuss examples of innovation provided in the case studies. Exploiting different perspectives through a methodologically grounded way is one of the heuristic approaches of the platform.</li>
  </ul>

  <h3 class="title is-3">
    Contact
  </h3>
  <p class="is-size-6 mb-6">
    If you are interested in details or if you have information about innovative service approaches, you are welcome to contact Prof. Dr. Johannes Eurich at johannes.eurich@dwi.uni-heidelberg.de. The reports and results of the project will be accessible under open access to any interested person/organization.
  </p>
</div>

