<section class="hero is-background-color-primary is-fullheight">

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        INNOSERV
      </h1>
      <h2 class="subtitle is-2 has-text-white mt-3">
        <%= 'Social Services Innovation'.upcase %>
      </h2>
      <figure class="image is-16by96 mt-6">
        <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/quQ6qHePN7s" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </figure>
    </div>
  </div>
</section>

<section class="hero is-medium is-background-color-secondary">
  <div class="hero-body ml-4">
    <h3 class="title is-3 is-color-primary">
      About INNOSERV
    </h3>
    <h4 class="title is-4 mt-3">
      INNOSERV is a project developing an EU wide research agenda to evaluate innovation in the field of social
      services (especially for health, education and welfare services). 
      This will help define future research activities.
    </h4>
    <div class="content is-size-5">
        INNOSERV responds to the FP7-Cooperation call FP7-SSH-2011-3 for a ‘support action concerning a social platform on innovative social services.’
        <br>
        Answering the objectives of the call, the INNOSERV project will:
        <ul class="is-size-5 mb-3">
          <li>Produce short visual examples combined with theoretical case studies of ‘innovative’ practices in the fields of health, education and welfare. These will be used to help inform discussion and debate;</li>
          <li>Develop a web based ‘social platform’ for continuing dialogue;</li>
          <li>Manage a multi-level discussion involving a wide range of stakeholders from research, policy making and practice communities in the EU to identify priorities for future research and development.</li>
        </ul>
        Publications will summarise the results of the debate and formulate future research needs.
    </div>
  </div>
</section>

<%= render partial: 'projects/projects_list', locals: { project: @projects} %>