<section class="hero is-background-color-secondary is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
  <%= render 'partials/navbar' %>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-color-primary is-1">
        INNOSERV
      </h1>
      <h2 class="subtitle is-color-primary is-2">
        Social Platform On Innovative Social Services
      </h2>
    </div>
  </div>
</section>

<section class="hero is-small is-background-color-primary">
  <div class="hero-body">
    <p class="title">
      About us
    </p>
    <p class="subtitle">
      The INNOSERV project has been mapping the way forwards for innovation in social services
    </p>
  </div>
</section>

<%= render partial: 'projects/home_list', locals: { project: @projects} %>