<section class="hero is-background-color-secondary is-fullheight">

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        INNOSERV
      </h1>
      <h2 class="subtitle is-color-primary is-2">
        Social Platform On Innovative Social Services
      </h2>
      <iframe class="mt-6" width="560" height="315" src="https://www.youtube.com/embed/quQ6qHePN7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section class="hero is-medium is-background-color-primary">
  <div class="hero-body ml-4">
    <h3 class="title is-3 has-text-white">
      Research and Development in Social Services Innovation
    </h3>
    <h4 class="subtitle is-4 has-text-white">
      The INNOSERV project has been mapping the way forwards for innovation in social services
    </h4>
  </div>
</section>

<%= render partial: 'projects/home_list', locals: { project: @projects} %>