<h3 class="title is-3 has-text-centered my-6">
  20 short visual examples of innovative services
</h3>

<div class="columns is-multiline mx-4 mb-6 is-desktop">
  <%= render partial: 'projects/tile', collection: @projects, as: :project %>
</div>
