<div class="tile is-parent is-4 pb-6">
  <article class="box tile is-child project-tile">
    <%= link_to project, id: project.name do %>
      <figure class="image">
        <% if FileTest.exist?('app/assets/images/' + project.image + '.webp') %>
          <%= image_tag project.image + '.webp', width: '100%', height: '100%', alt: "image du projet '#{ project.name }'", loading: 'lazy' %>
        <% end %>
      </figure>
      <div class="pt-3">
        <p class="title is-4 has-text-left is-color-primary">
          <%= project.name %>
        </p>
        <p class="subtitle is-size-6">
          <%= strip_tags(project.description) %>
        </p>
        <p class="tags is-color-primary is-size-6 has-text-left">
          <% if project.fieldOfEducation %>
            <span class="tag is-color-primary">Education</span> 
          <% end %>
          <% if project.fieldOfWelfare %>
            <span class="tag is-color-primary">Welfare</span>  
          <% end %>
          <% if project.fieldOfHealth %>
            <span class="tag is-color-primary">Health</span>  
          <% end %>
        </p>
      </div>
    <% end %>
  </article>
</div>
