<div class="container">
  <h1>Nouveau message de contact</h1>

  <p>
    <strong>Email: </strong>
    <%= @email %>
  </p>
  <p>
    <strong>Sujet: </strong>
    <%= @subject %>
  </p>
  <p>
    <strong>Contenu: </strong>
    <%= @content %>
  </p>
</div>