/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/// VARIABLES AND GENERAL ///

$color-primary : rgb(185, 35, 84) ;
$color-secondary : rgb(244, 237, 198);

$other-color-primary : rgb(189, 46, 90) ;
$other-color-secondary : rgb(238, 220, 186);

$slightblack : #272223;

/// text color
.is-color-primary{
  color: $color-primary !important;
}

.is-color-secondary{
  color: $color-secondary !important;
}

/// background color
.is-background-color-primary{
  background-color: $other-color-primary;
}

.is-background-color-secondary{
  background-color: $other-color-secondary;
}


a:hover {
  background-color: transparent;
}

// .button{
//   transition: background-color .2s;
// }

// .button:hover{
//   background-color: none; // this only applies the transition, with the color given by bulma
// }

@import 'bulma';
@import 'bulma-extensions';
