/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/// VARIABLES AND GENERAL ///

$color-primary : rgb(185, 35, 84) ;
$color-secondary : rgb(244, 237, 198);

$other-color-primary : rgb(189, 46, 90) ;
$other-color-secondary : rgb(238, 220, 186);

$slightblack : #272223;

/// text color
.is-color-primary{
  color: $color-primary !important;
}

.is-color-secondary{
  color: $color-secondary !important;
}

/// background color
.is-background-color-primary{
  background-color: $other-color-primary;
}

.is-background-color-secondary{
  background-color: $other-color-secondary !important;
}


a:hover {
  background-color: transparent !important;
}

.project-tile{

  transition: all 0.2s ease;
  cursor: pointer;

  .title{
      transition: color .5s;
  }

  img{
      opacity: 0.9;
      border-radius: 3px;
      transition: transform .5s, opacity .5s;
  }
}

.project-tile:hover{

  .title{
      color: $other-color-primary !important;
  }
  img{
      transform: scale(1.07);
      opacity: 1;
  }
  // box-shadow: 5px 6px 6px 2px $other-color-secondary;
  transform: scale(1.03)
}

/// FONT AWESOME ICON ///

.fab, .fas{
  color: rgb(208,213,218);
}
.fa-edit, .fa-facebook, .fa-twitter, .fa-youtube{
  color: grey;
  transition: color .3s;
}

.fa-facebook:hover{
  color: rgb(56,84,149);
}

.fa-twitter:hover{
  color :rgb(21,156,231);
}

.fa-youtube:hover{
  color :rgb(255,0,0);
}

//FONT AWESOME ICON

@import 'bulma';
@import 'bulma-extensions';
