/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/// VARIABLES AND GENERAL ///

body {
  font-family: 'K2D' !important;
}

*{
  scroll-behavior: smooth;
}

$color-primary : rgb(185, 35, 84) ;
$color-secondary : rgb(244, 237, 198);

$other-color-primary : rgb(189, 46, 90) ;
$other-color-secondary : rgb(238, 220, 186);

$slightblack : #272223;
/// text color
.is-color-primary{
  color: $color-primary !important;
}

.is-color-secondary{
  color: $color-secondary !important;
}

.is-slightblack{
  color: $slightblack !important;
}

/// background color
.is-background-color-primary{
  background-color: $other-color-primary;
}

.is-background-color-secondary{
  background-color: $other-color-secondary;
}


.is-active{
  color: $slightblack !important;
}

a:hover {
  background-color: transparent !important;
}

.button{
  transition-property: background-color,color;
  transition-duration: .2s;

  &.is-background-color-primary.is-outlined{
    background-color: transparent;
    border-color: $other-color-primary;
    color: #000;
  }

  &:hover{
    background-color: none; // this only applies the transition, with the color given by bulma
  
    &.is-background-color-primary.is-outlined{
      background-color: $other-color-primary;
      border-color: transparent;
      color: #fff;
    }
  }
}

div.content p, div.content ul li{
  line-height: 25px;
}


/// NAVBAR (COMBINÉ AVEC BULMA) ///

#navbar{
  overflow: hidden;
  transition: 0.4s;
  border-bottom: 2px solid $color-primary;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);

  a {
    float: left;
    color: black;
    text-decoration: none;

    &:hover, &.is-active {
      border-top: 3px solid $color-primary;
    }

    &#navbar-burger{
      border-top: none;
    }
  } 

  #logo {
    margin: 15px 10px;
    height: 60px;
    transition: 0.4s;
    &:hover{
      border-top: none;
    }
  }

  #logo_link {
    &:hover{
      border-top: none;
    }
  }

  #navbar-menu {
    float: right;
  }

  @media screen and (max-width: 580px) {
    a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-menu {
      float: none;
    }
  }
  
  @media screen and (max-width: 1023px){
    .navbar-menu {
        padding: 0!important;
    }
  }
}

/// NAVBAR


.project-tile{

  transition: all 0.2s ease;
  cursor: pointer;

  .title{
      transition: color .5s;
  }

  img{
      opacity: 0.9;
      border-radius: 3px;
      transition: transform .5s, opacity .5s;
  }
}

.project-tile:hover{

  .title{
      color: $other-color-primary !important;
  }
  img{
      transform: scale(1.07);
      opacity: 1;
  }
  // box-shadow: 5px 6px 6px 2px $other-color-secondary;
  transform: scale(1.03)
}

/// FONT AWESOME ICON ///

.fab, .fas{
  color: rgb(208,213,218);
}
.fa-edit, .fa-facebook, .fa-twitter, .fa-youtube{
  color: grey;
  transition: color .3s;
}

.fa-facebook:hover{
  color: rgb(56,84,149);
}

.fa-twitter:hover{
  color :rgb(21,156,231);
}

.fa-youtube:hover{
  color :rgb(255,0,0);
}

//FONT AWESOME ICON

@import 'bulma';